# Default settings for ansible-pull. This file is sourced by /bin/sh from
# /etc/init/ansible-pull.conf.

# 0 is false; 1 is true
ENABLED=1

# Location of the ansible-pull command
ANSIBLE_PULL_BIN=/usr/bin/ansible-pull

# Options to pass to ansible-pull
ANSIBLE_PULL_OPTS=
