# file: /etc/cron.d/ansible-pull
# 
# KnoesOS -- A warehouse scale operating system for the ages.
#
# Copyright 2013 Kno.e.sis (http://knoesis.org), Joshua Dotson <josh@wrale.com>
#
#    KnoesOS is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    KnoesOS is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with KnoesOS.  If not, see <http://www.gnu.org/licenses/>.

{{ ansible_pull_interval }} {{ ansible_pull_user }} run-one bash -c "ping -c1 -w30 {{ ansible_pull_ping_host }} && ansible-pull --purge --directory {{ ansible_pull_staging_directory }} --url {{ ansible_pull_repo }} --checkout {{ ansible_pull_branch }} --inventory-file {{ ansible_pull_inventory_file }} --module-name {{ ansible_pull_module_name }} && sleep {{ ansible_pull_sleep_seconds }}" >> {{ ansible_pull_log_file }} 2>&1
